header {
    grid-area: header;
    height: auto;
    width: 100%;
    min-height: 180px;
    margin-top: 54px;
    background-image: url("../assets/dragon-azul.jpg");
    background-size:cover;
    background-position-y: 35%;
    display: inline-block;
    nav {
        display: flex;
        justify-content: right;
        align-items: center;
        color: $color-tipografia;
        text-decoration: antiquewhite;
        width: 100%;
        ul{
            li{ color:$color-tipografia;

            }
        }
    }
}

    .encabezado-responsive {
        display: flex;
        width: 100%;
        height: auto;
        min-height: 180px;
        margin-top: 54px;
        background-image: url("../assets/dragon-azul.jpg");
        background-size:cover;
        background-position-y: 35%;

    }




.title{
    &-div{
    display: flex;
    justify-content: center;
    margin-top: 54px;
    }
    &-h1 {
        text-align: center;
        font-size: xx-large;
        font-weight: 700;
        color:map-get($colors,secundary);
    }
    &-nav  {
        display: flex;
        flex-direction: column;
        
    }
}


.navbar {
    background-color: $color-navbar;
    position: fixed;
    top: 0;
    z-index: 1500;
}

.nav-link  {
    color: map-get($colors,secundary);
}

.btn {
    color: map-get($colors,secundary);
    border-color: map-get($colors,secundary);
    &:hover {
        color: $color-hover;
        background-color: map-get($colors,secundary);
    }
    
}


.logo-asian {
    width: 30px;
    height: 30px;
}