.index{
    &-main{
    grid-area: main;
    background-color: $color-principal;
    height: auto;
    width: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}
    &-nos {
    background-color: $color-principal;
}
}


main h2 {
    color: $color-tipografia;
    font-size: 700;
}

.div{
    &-section{
    display: flex;
    justify-content: space-between;
    }
    &-h2 {
        padding-right: 0;
    }
}
.image-1 {
    height: 1000px;
    width: auto;
}

.text {
    max-height: 1000px;
    line-height: 200%;
    font-size: 12px;    
}

.list {
    line-height: 200%;
    &-group {
        padding-right: 0;
    }
    
}

.texto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

iframe {
    width: 100%;
    height: 500px;
    padding: 0;
    
}

h2 {
    color: $color-tipografia;
}


h3 { 
    color: $color-tipografia;
}

a {
    color: $color-tipografia;
}