section {
    grid-area: section;
    background-color:#696D7D;
}

.carrousel {
    display: flex;
}

.formulario {
    display: block;
    padding-right: 0;
}

.div-formulario {
    padding-right: 0;
    padding-bottom: 50px;
}