//colores
$color-principal:#696D7D;
$color-tipografia: white;
$color-navbar: rgba(157,199,218,255);
$color-hover: black;



//Tamaño tipografias
$f-lg: 2rem;
$f-md: 1.5rem;
$f-sm: 1rem;


//Mapas
$colors: (
    primary: #696D7D,
    secundary: white,
    tertiary: black,
    quaternary: rgba(157,199,218,255),


);

$sizes: (
    xxl: 40px,
    xl: 30px,
    l: 20px,
    md:10px,
    sm:5px,

);

@each $talles, $pixels in $sizes {
    .scale-#{$talles}{
        font-size: $pixels;
    }
}