/*Reset*/
* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0  ;
    
}


.cuerpo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

/*Header*/
.header {
    height: auto;
    width: 100%;
    margin: 54 px   0(repeat 3); 
    min-height: 180px;
    margin-top: 54px;
    background-image: url("../assets/dragon-azul.jpg");
    background-size:cover;
    background-position-y: 35%;
    display: inline-block;
    }

.div-logo {
    grid-column: 1  /  2;
    grid-row: 3 / 6 ;  
}

.logo {
    height: 400px;
    width: 400px;
    display: block;
    margin-left: 0;
    margin-top: 0;
    }


.div-title {
    display: flex;
    justify-content: center;
    grid-column: 3   / 6;
    grid-row: 3 / 6;
}

.title {
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
    color: white;
}

.header nav {
    display: flex;
    justify-content: right;
    align-items: center;
    color: white;
    text-decoration: antiquewhite;
    width: 100%;
    
}

.title-nav  {
    display: flex;
    flex-direction: column;
    
}

header nav ul li {
    color: white;
}

.navbar {
    background-color: rgba(157,199,218,255);
    position: fixed;
    top: 0;
}

.nav-link  {
    color: white;
}

.btn {
    color: white;
    border-color: white;
    
}

.btn:hover {
    color: black;
    background-color: white;
}


.div-nav {
    grid-column: 1/6;
    grid-row: 1/2;
}

.formulario {
    display: block;
}
/*Todo menos header*/




/*Main*/

.index-main{
    background-color:#696D7D;
    height: auto;
    width: auto;
    margin: 0;
    display: flex;
    flex-direction: column;


}

main h2 {
    color: white;
    font-size: 700;
}

/*Index Main*/

.div-section{
    display: flex;
    justify-content: space-between;
}

.image-1 {
    height: 1000px;
    width: auto;
}

.text {
    max-height: 1000px;
    line-height: 200%;
    font-size: 24px;    
}

.list {
    line-height: 200%;
    
}


.texto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

iframe {
    width: 100%;
    
}

h2 {
    color: white;
}

h3 { 
    color: white;
}

a {
    color: white;
}
/*Section*/

section {
    background-color:#696D7D;
}

.carrousel {
    display: flex;
}



/*Side*/



/*Footer*/
.footer {
    height: 200px;
    width: 100%;
    margin-top: 0;
    background-image: url("../assets/dragon-banner-blue.jpg");
    background-position-y: 30%;
    background-size: cover;
    display: flex;
}



.logo-1 {
    height: 200px;

}

.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    justify-self: center;
    width: 100%;

}

.nav-social {
    justify-self: center;
    align-self: center;
}

.social a {
    word-spacing: double;
}
